.header{
	background-color: black
}
	#menubar{
		background: transparent
	}	
		#menubar .menu .options{
			background-color: rgba(0,0,0,0.8);
			color: white
		}
			#menubar .menu .options hr{
				border-color: #5a5a5a
			}
			#menubar .menu .options .inactive{
				color: #5a5a5a
			}
#sidebar{
	background-color: rgba(0,0,0,0.9)
}
#tabs{
	background-color: #5a5a5a;
	border-color: #5a5a5a
}
	#tabs span{
		border-color: #5a5a5a
	}
	#tabs span.selected{
		background: black;
	}
.button. select, input{
	color: #a7a7a7;
	background-color: rgb(58, 58, 58)
}
